<div ng-include="navBar"></div>
<ul class="nav" ng-if="links">
  <li class="nav-item" ng-repeat="link in links">
    <a class="nav-link" ui-sref-active="active" ng-href="{{link.link}}">{{link.title | titlecase}}</a>
  </li>
</ul>
<main role="main" class="container pt-5" ui-view>
  <div class="starter-template">
    <h1>Lab Workflow Application</h1>
    <form name="processForm" ng-submit="submitApplication()">
      <div class="applicant-info">
        <div class="applicant-info-box">
          <p><strong>Applicant: </strong> {{ applicant.name }}</p>
          <p><strong>Contact: </strong> {{ applicant.contact }}</p>
          <p><strong>Phone: </strong> {{ applicant.phone }}</p>
        </div>
      </div>
      <div class="form-group">
        <div class="form-method"></div>
          <h4>Method {{ methodCount }}</h4>
          <div class="col-xs-12 row">
            <label for="samplesDay" class="col-sm-4 col-form-label">Average Samples Per Day</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" name="samplesDay" placeholder="00">
            </div>
          </div>
  
      </div>
      <div class="process-box">
        <div class="form-group row">
          <label for="processName" class="col-sm-2 col-form-label">Process Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="processName" ng-model="applicationData.processName" placeholder="Process Name">
          </div>
        </div>
        <div class="process-info row">
              <div class="form-group col-sm-6">
                <div class="row">
                    <label for="numberStaff" class="col-sm-8 col-form-label">Number of Staff</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" name="numberStaff" placeholder="00">
                    </div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <div class="row">
                    <label for="linearSpace" class="col-sm-8 col-form-label">Linear Space Required (mm)</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" name="linearSpace" placeholder="00">
                    </div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <div class="row">
                    <label for="workstations" class="col-sm-8 col-form-label">Number of Workstations</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" name="workstations" placeholder="00">
                    </div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <div class="row">
                    <label for="stools" class="col-sm-8 col-form-label">Number of Stools</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" name="stools" placeholder="00">
                    </div>
                </div>
              </div>
        </div>
        <div class="form-group row req-equ">
          <div class="col-sm-6">
            <div class="req-equ-single" ng-repeat="i in equipmentCount() track by $index">
                <label for="equ" class="col-sm-6 col-form-label">Equipment Required</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" name="equ" placeholder="Brand of Equipment" ng-model="applicationData.equipment[$index + 1]">
                </div>
            </div>
            <div class="add-more-equ" ng-click="moreEqu()">More Equipments? + </div>
          </div>

        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div WPA-table data="tableData"></div>

</main><!-- /.container -->
