<div class="text-center">
  <form class="form-signin" novalidate name="loginForm" ng-submit="submitForm(loginForm.$valid)">
    <img class="mb-4" src="img/WL-Logo-Hosrizontal.png" alt="Logo">

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="team" class="sr-only">Team</label>
    <input type="text" id="team" name="team" class="form-control" placeholder="team" required autofocus ng-model="team">
    <p class="text-danger" ng-show="loginForm.team.$error.required  && !loginForm.team.$pristine">Team name is required</p>
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" class="form-control" placeholder="Password" required ng-model="password">
    <p class="text-danger" ng-show="loginForm.password.$error.required && !loginForm.password.$pristine">Password is required</p>
    <button class="btn btn-lg btn-primary btn-block" ng-class="{'progress-bar-striped progress-bar-animated': progress}" type="submit" >Sign in</button>
    <span class="text-danger" ng-bind="message"></span>
    <p class="mt-5 mb-3 text-muted">&copy; {{copyrightYear}}</p>
  </form>
</div>
